__pycache__/
data/
img/
*.png
*.py[cod]
*.egg-info/
.installed.cfg
*.egg
examples/Main_MNIST.ipynb
examples/Qiskit_test.ipynb

qclassifier/examples/Main_MNIST.ipynb
qclassifier/examples/Qiskit_test.ipynb
